#minutes, #seconds {
    background-color: #06d6a0;
    color: white;
    font-weight: 700;
    font-size: 56px;
    padding: 12px 16px 10px 24px;
    border-radius: 6px;
    letter-spacing: 8px;
}

#timer-container {
    background-color: #ffd166;
    border-radius: 6px;
    font-weight: 700;
    font-size: 56px;
    padding: 34px 30px;
    margin: 34px 30px;
}